/* section.dashboard {}; */

header.page-title {
    text-align: center;
    font-size: 24px;
}

.cards-container {
    /* height: 90%; */
    margin: 0 8%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
@media only screen and (min-width: 760px) {
    .cards-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.card {
    background: white;
    color: #444;
    /* border: 1px solid #444;s */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 12px;

    min-height: 90%;
    padding: 24px;
    font-size: 24px;
    text-align: center;
}

.card .icon-container {
    text-align: center;
    height: 40%;
}

.card .icon-container img {
    height: 48px;
}

.card .card-value {
    text-align: center;
    /* height: 60%; */
    font-size: 32px;
    margin-top: 12px;
}
