.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
references/arduinojson5.pdf
*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.gcode
*.job
*.b#1
pcb/ESPlash/esplashbpk.brd
Firmware/.vscode/launch.json
Firmware/.vscode/c_cpp_properties.json
.DS_Store
Firmware/.vscode/c_cpp_properties.json
Firmware/.vscode/extensions.json
Firmware/.vscode/launch.json
Firmware/.vscode/c_cpp_properties.json
Firmware/.vscode/extensions.json
Firmware/.vscode/launch.json
Firmware/.vscode/settings.json
