@@ -0,0 +1,74 @@

    html {
        font-family: Arial;
        display: inline-block;
        text-align: center;
    }

    h2 {
        font-size: 3.0rem;
    }

    p {
        font-size: 3.0rem;
    }

    body {
        max-width: 600px;
        margin: 0px auto;
        padding-bottom: 25px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 68px
    }

    .switch input {
        display: none
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 34px
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 52px;
        width: 52px;
        left: 8px;
        bottom: 8px;
        background-color: #fff;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 68px
    }

    input:checked+.slider {
        background-color: #2196F3
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(52px);
        -ms-transform: translateX(52px);
        transform: translateX(52px)
    }

    .units {
        font-size: 1.2rem;
    }

    .dht-labels {
        font-size: 1.5rem;
        vertical-align: middle;
        padding-bottom: 15px;
    }