header.topbar {
    height: 64px;
    /* border: 1px solid grey; */

    display: flex;
    justify-content: space-between;
}

img.logo {
    width: auto;
    height: 56px;
    margin: 4px 10px;
}

.topbar-title {
    font-size: 24px;
    margin-top: 10px;
}
@media only screen and (min-width: 760px) {
    .topbar-title {
        font-size: 32px;
        margin-top: 10px;
    }
}

.hamburger-container {
    cursor: pointer;
}

img.hamburger {
    height: 56px;
    width: auto;
    margin: 4px 10px;
}
