header.topbar {
    height: 64px;
    border: 1px solid grey;
    background-color: white;

    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    margin: 0 20px;
    display: flex;
}
img.logo {
    width: auto;
    height: 56px;
    margin-right: 10px;
    align-self: center;
}
.logo-title {
    font-size: 24px;
    color: #2f2f2f;
    align-self: center;
}
@media only screen and (min-width: 760px) {
    .logo-title {
        font-size: 32px;
        /* margin-top: 12px; */
    }
}

.app-title {
    color: #444;
}

.hamburger-container {
    cursor: pointer;
}

img.hamburger {
    height: 56px;
    width: auto;
    margin: 4px 20px;
}
