header.controls-page-header {
    text-align: center;
    font-size: 24px;
    margin: 16px;
}

.controls-page-header h2 {
    display: inline;
}

.main-manual-automatic-wrapper {
    display: inline;
    float: right;

    position: relative;
    top: 12px;
}

.main-manual-automatic-wrapper > input {
    width: 24px;
    height: 24px;

    position: relative;
    left: -64px;
}

.controls-container {
    margin: 0 8%;
}

.control-box {
    border: 1px solid white;
    border-radius: 12px;
    margin-bottom: 16px;
    padding: 8px 16px;
}

.control-box > header {
    margin: 10px 0;
    text-align: center;
}

.box-label {
    font-size: 28px;
    display: inline;
}
.box-label > .pin-info {
    font-size: 21px;
    color: rgb(198, 198, 198);
    margin-left: 6px;
}
@media only screen and (min-width: 760px) {
    .box-label {
        font-size: 32px;
    }

    .box-label > .pin-info {
        font-size: 24px;
    }
}

.manual-auto-wrapper {
    display: inline;
    float: right;

    position: relative;
    top: 12px;
}

.manual-auto-wrapper > input {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.open-close-wrapper {
    text-align: center;
    margin: 20px 0;
}

.open-close-wrapper input {
    width: 32px;
    height: 32px;
}

.scheduling-wrapper {
    text-align: center;
    margin: 20px 0;
}

.scheduling-wrapper input {
    width: 98px;
    padding: 6px;
    max-height: 36px;
}

.scheduling-wrapper button {
    /* height: 36px; */
    padding: 6px 8px;
}

.schedules-table-wrapper {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.schedules-table-wrapper table {
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}
