html {
  font-family: Arial;
  display: inline-block;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 2rem;
}

body {
  max-width: 400px;
  margin: 0px auto;
  padding-bottom: 25px;
}

table {
  width: 100%;
}

#output {
  background: lightyellow;
  padding: 10px;
  border: 1px solid tan;
  margin: 0 0 10px 0;
}

.switch {
  line-height: 47px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 120px;
  height: 40px;
}

.switch input {
  display: none;
}

.switch_2 {
  line-height: 47px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 220px;
  height: 40px;
}

.switch_2 input {
  display: none;
}

.slider_0 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 30px;
}

.slider_0:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 68px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 52px;
  left: 8px;
  bottom: 8px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 68px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(52px);
  -ms-transform: translateX(52px);
  transform: translateX(52px);
}

.slider2 {
  -webkit-appearance: none;
  margin: 14px;
  width: 140px;
  height: 5px;
  background: #ccc;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #2f4468;
  cursor: pointer;
}

.slider2::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #2f4468;
  cursor: pointer;
}

table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
}

th:first-child {
  border-radius: 6px 0 0 0;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

th:only-child {
  border-radius: 6px 6px 0 0;
}

.bordered tr:hover {
  background: #fbf8e9;
  transition: all 0.1s ease-in-out;
}

.highlight {
  background: #fbf8e9;
  transition: all 0.1s ease-in-out;
}

.zebra tbody tr:nth-child(even) {
  background: #f5f5f5;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}
.range {
  width: 100%;
}
.bubble {
  background: red;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
}
